<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow"
     th:fragment="navbar">

    <div class="container-fluid">

        <a class="navbar-brand fw-bold"
           href="/">

            🎓 Certificados Blockchain

        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="menu">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">

                    <a class="nav-link"
                       href="/">

                        Inicio

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/emitir">

                        Emitir

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/verificar">

                        Verificar

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="#">

                        Historial

                    </a>

                </li>

            </ul>

            <ul class="navbar-nav">

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown">

                        👨‍🏫 Pablo Profesor

                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>

                            <a class="dropdown-item"
                               href="#">

                                Mi perfil

                            </a>

                        </li>

                        <li>

                            <a class="dropdown-item"
                               href="#">

                                Configuración

                            </a>

                        </li>

                        <li>

                            <hr class="dropdown-divider">

                        </li>

                        <li>

                            <a class="dropdown-item text-danger"
                               href="#">

                                Cerrar sesión

                            </a>

                        </li>

                    </ul>

                </li>

            </ul>

        </div>

    </div>

</nav>